<div class="home-bg">
        <br><br><br><br>
        <h1 class="text-center">Hola-Smart Lock</h1>
        <p class="text-center"><a class="btn btn-primary btn-lg " [routerLink]='["/sign-in"]' role="button">Sign-In</a></p>
        <br><br><br><br>
    </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Mission</h2>
            <p>University of Moratuwa, a leading technological university in the region welcomes you to witness a truly unique experience!</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Our Team</h2>
            <p>University of Moratuwa, a leading technological university in the region welcomes you to witness a truly unique experience!</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Technology</h2>
            <p>University of Moratuwa, a leading technological university in the region welcomes you to witness a truly unique experience!</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
